.accordionBG {
    border-radius: 0px;
    width: 300px;
    min-height: 30px;
    box-shadow: 3px 3px 10px 0.2px var(--dark-color);
    border: solid 7px var(--pale-color);
}
.noteOpenStyle {
    background-color: var(--dark-color);
    
    .accordionItem {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        clip-path: polygon(90% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    }
    .accordionTitle {
        padding-bottom: 10px;
    }
    .accordionContent {
        border-left: double thick var(--dark-color);
        padding-left: 10px;
    }
}
.noteClosedStyle {
    background-color: transparent;
    .accordionItem {
        background-color: var(--pale-color);
        clip-path: polygon(90% 0, 100% 55%, 100% 100%, 0 100%, 0 0);
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .accordionTitle {
        border-left: double thick var(--dark-color);
        padding-left: 10px;
        width: 90%;
    }
    .accordionTriangle {
        position: absolute;
        top: -2px;
        right: 0px;
        width: 28px;
        height: 28px;
        aspect-ratio: 1;
        clip-path: polygon(0 100%,0 0,100% 100%);
        background-color: var(--dark-color);
    }
}
.accordionItem {
    background-color: var(--pale-color);
    padding: 15px;
    font-size: 12px;
    line-height: normal;
    /* clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0); */
    
}
.accordionTitle {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-weight: 600;
    cursor: pointer;
}
