.formatDefault {
    /* background-color: var(--pale-color); */
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-items);
}
.formatDiv {
    padding: 10px;
    display: flex;
    flex-flow: row wrap; /*cause du débordement lorsque une seule colonne (!)*/
    gap: var(--gap-items); /*! bugging*/

    .exhibitorLI {
        padding: 16px;
        width: 250px;
        height: 175px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: var(--pale-color);
        border-radius: var(--border-radius-items);
        min-height: 150px;
        min-width: 300px;
        box-shadow: 3px 3px 10px 1px var(--dark-color);
        &:hover {
            box-shadow: inset 2px 2px 40px 0px var(--dark-color);
            background-color: var(--active-color);
        }
        &:active {
            box-shadow: inset 2px 2px 75px 1px var(--dark-color);
            background-color: var(--active-color);
            filter: brightness(110%);
        }
    .exitem {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    }
}
