.exhibitorListDefault {
    background-color: azure;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-items);
}
.exhibitorListDiv {
    background-color: azure;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-items); /*! bugging*/
}
.exhibitorLI {
    margin: 15px; /*! to clean */
    background-color: rgb(230, 205, 205);
    border-radius: var(--border-radius-items);
    min-height: 150px;
    min-width: 300px;
}