.navbar {
    width: 100%;
    margin-bottom: -5px;
    display: flex;
    column-gap: 20px;
    overflow: visible;
    li {
        width: 200px;
        height: 30px;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        list-style: none;
        text-decoration: none;
        img {
            width: 45px;
            margin: 4px;
        }
        p {
            margin: 2px;
        }
    }
}