.currentPage {
    border-bottom: none;
    opacity: 1;
}
.notCurrentPage {
    opacity: 0.8;
}
.navbar {
    width: 100%;
    margin-bottom: -5px;
    display: flex;
    column-gap: 20px;
    overflow: visible;
    li {
        /* width: 155px; */
        height: 50px;
        padding: 10px;
        background-color: var(--list-bg-color);
        display: flex;
        flex-wrap: nowrap;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        list-style: none;
        text-decoration: none;
        img {
            width: 45px;
            margin: 4px;
        }
        p {
            margin: 2px;
        }
    }
}