.progressDiv {
    min-width: 1250px;
    align-self: center;
}
.progressArrow {
    background-color: var(--active-color);

    li {
        height: 50px;
        list-style: none;
        text-decoration: none;
        background-color: var(--far-bg-color);
    }
    li:hover {
        background-color: var(--pale-color);
    }
}