:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(241, 240, 222);
  color: rgb(48, 48, 48);
}
.container {
  border: solid 5px rgb(36, 36, 36);
}

