* {
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
}
@font-face {
  font-family: 'Inknut Antiqua';
  src: local("./fonts/InknutAntiqua-Regular.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maitree';
  src: url("./fonts/Maitree-Regular.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "Maitree", "Inknut Antiqua";
  font-size: 25px;
  line-height: 1.5;
  font-weight: 400;
  line-height: 50px;

  color-scheme: light dark;
  background-color: var(--far-bg-color);
  color: rgb(48, 48, 48);

  --far-bg-color: #2a2c31;
  --close-bg-color: #ebd1d4;
  --active-color: #000000;
  --list-bg-color: #F8FCDA;
  --map-bg-color: #B0D7FF;
  --comittee-bg-color: #efdc81 ;
  --archives-bg-color: #9CC9A2;
  --title-font: "Inknut Antiqua";
  --text-font: "Maitree";
}
.container {
    padding: 15px;
    border-top-right-radius: 3px;
    border-bottom: 3px;
  }
p {
  font-family: var(--text-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}
.miniInput {
    border: none;
    background-color: transparent;
    border-bottom: double thick var(--active-color);
  }
/**colors:*/
.listPage {
    background-color: var(--list-bg-color);
  }
.mapPage {
 background-color: var(--map-bg-color);
}
.committeePage {
  background-color: var(--comittee-bg-color);
}
.archivesPage {
  background-color: var(--archives-bg-color);
}