* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  /**scrollbar*/
  scroll-behavior: smooth;
  scrollbar-color: var(--hover-color) transparent;
  scroll-margin: var(--little-gap);
  /**selection*/
  &::selection {
    background-color: var(--active-color);
    color: var(--pale-color);
  }
  a {
    color: inherit;
  }
  a:link {
    color: inherit;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
  a:active {
    color: inherit;
  }
}
@font-face {
  font-family: 'Inknut Antiqua';
  src: url("./assets//fonts//InknutAntiqua-Regular.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maitree';
  src: url("./assets/fonts/Maitree-Regular.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  /*^==========VARIABLES============*/
  /**pages colors*/
  --far-bg-color: #2a2c31;
  --close-bg-color: #F8FCDA;
  --list-bg-color: #F8FCDA;
  --map-bg-color: #B0D7FF;
  --comittee-bg-color: #efdc81 ;
  --archives-bg-color: #9CC9A2;
  /**items colors*/
  --hover-color: #e3e4f3;
  --active-color: chocolate;
  /* --> complementary from pale_color : #aab0ee */
  --pale-color: #eee8aa; /*palegoldenrod*/
  --dark-color: #b18820;
  /**maybe ?*/
  --red-pale : #ebd1d4;
  /**font*/
    --title-font: "Inknut Antiqua";
    --text-font: "Maitree";
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 30px;
  /**positionning*/
    --border-radius-items: 15px; /*todo: harmoniser*/
    --gap-items: 32px; /*todo: harmoniser*/
    --very-large-gap: 64px;
    --large-gap: 32px;
    --medium-gap: 16px;
    --little-gap: 8px;
  /*^======================================*/
  min-width: 700px; /*! */
  font-family: "Maitree", "Inknut Antiqua";
  margin: 30px;
  margin-right: 35px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--far-bg-color);
  color: var(--far-bg-color);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
p {
  font-family: var(--text-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  user-select: none;
}
.miniInput {
  border: none;
  background-color: transparent;
  border-bottom: double thick var(--active-color);
}
/**page colors:*/
main {
  margin-top: 20px;
  /* padding: 30px; pour cause de débordement ^^ */
  min-height: 600px;
  border-top-right-radius: 3px;
  border-bottom: 3px;
  }
.listPage {
  background-color: var(--list-bg-color);
  }
.mapPage {
  background-color: var(--map-bg-color);
}
.committeePage {
  background-color: var(--comittee-bg-color);
}
.archivesPage {
  background-color: var(--archives-bg-color);
}
.connexionPage {
  background-color: var(--far-bg-color);
}
/* isLoading */
.spinner {
  content: 🦐 ;
  color: violet;
/* todo: react-spring animation spinner */
}