.navbar {
    display: flex;
    column-gap: 20px;

    li {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        .link {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: center;
            gap: var(--medium-gap);
            align-items: center;
            width: 280px;
            height: 30px;
            padding: 10px;
            
            img {
                height: 32px;
            }
            p {
                font: var(--title-font);
                font-size: 28px;
            }
        }
    }
}